<?xml version="1.0" encoding="UTF-8"?>
<!-- - Middle tier application context definition for the image database. -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!-- xfire -->
    <import resource="classpath:org/codehaus/xfire/spring/xfire.xml" />
    <bean id="baseWebService" class="org.codehaus.xfire.spring.remoting.XFireExporter" lazy-init="false" abstract="true">
        <property name="serviceFactory" ref="xfire.serviceFactory" />
        <property name="xfire" ref="xfire" />
    </bean>
    <bean id="activationCodeWS" class="cc.ywxm.commonservice.service.impl.ActivationCodeServiceImpl">
    </bean>
    <bean id="userService" parent="baseWebService">
        <property name="serviceBean" ref="activationCodeWS" />
        <property name="serviceClass" value="cc.ywxm.commonservice.service.ActivationCodeService" />
    </bean>
</beans>
