<?xml version="1.0" encoding="UTF-8"?>
<!-- - Middle tier application context definition for the image database. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<context:component-scan base-package="cc.ywxm.commonservice" />
	<context:property-placeholder
		location="classpath:conf/db_config.properties" />

	<!-- Local C3P0 DataSource that works in any environment -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<!-- 空闲连接测试时间（秒） -->
		<property name="idleConnectionTestPeriod" value="1800" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
    <bean id="activationCodeServiceImpl" class="cc.ywxm.commonservice.service.impl.ActivationCodeServiceImpl">
    </bean>
    <!-- rmi -->
    <bean id="exporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="service" ref="activationCodeServiceImpl"/>
        <property name="serviceName" value="activationCodeService"/>
        <property name="serviceInterface" value="cc.ywxm.commonservice.service.ActivationCodeService"/>
        <property name="registryPort" value="9111"/>
        <property name="servicePort" value="10023"/>
    </bean>
    <!-- xfire -->
    <import resource="classpath:org/codehaus/xfire/spring/xfire.xml" />
    <bean id="baseWebService" class="org.codehaus.xfire.spring.remoting.XFireExporter" lazy-init="false" abstract="true">
        <property name="serviceFactory" ref="xfire.serviceFactory" />
        <property name="xfire" ref="xfire" />
    </bean>
    <bean id="activationCodeWS" class="cc.ywxm.commonservice.service.impl.ActivationCodeServiceImpl">
    </bean>
    <bean id="userService" parent="baseWebService">
        <property name="serviceBean" ref="activationCodeWS" />
        <property name="serviceClass" value="cc.ywxm.commonservice.service.ActivationCodeService" />
    </bean>
</beans>
